// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
  background-color: #EDEDE9;


h1, h2, h4, h5{
  font-family: 'Assistant', sans-serif;
  margin: 16px 0px;
  color: white;
}

h3 {
  font-size: 32px;
  margin-bottom: 16px;
  color: #31572C;
  font-family: 'Assistant', sans-serif;
}

h4{
  font-weight: 400;
  font-size: 20px;
}

p {
  color: white;
}

h5 {
  font-size: 16px;
}

}

.welcome-message {
  h3, h4 {
    color: #31572C;
  }
}

.hcontainer {
  padding: 16px 52px;
  margin: 0;
}

.timeperiod {
  background-color: #CFE1B9;
  border-radius: 36px;
  height: 46px;
  display: inline-flex;
  align-items: center;
  margin-top: 16px;

  h5 {
    text-align: center;
    margin: 0px;
  }

  .period {
    background-color: #97A97C;
    border-radius: 36px;
    height: 32px;
    width: 74px;
    justify-content: center;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 4px;
  }
}

.consumption-info {
  padding: 36px 0px;
  display: flex;
  gap: 16px;
}

.carbon-intensity, .timeperiod-consumption {
  background-color: #52796F;
  border-radius: 16px;
  height: 400px;
  text-align: center;
  padding: 8px 12px;
  h4 {
    text-align: left;
  }
}

.carbon-intensity {
  width: 30%;
  .learn-btn {
    border-radius: 8px;
    background-color: #E9F5DB;
    color: #31572C;
    text-decoration: none;
    padding: 4px 64px;
  }
}

.timeperiod-consumption {
  width: 75%;
}

.consumption-breakdown {
  display: inline-flex;
  border-bottom: 1px white solid;

  .time-title {
    margin-bottom: 0%;
  }
  .column-category {
    justify-content: space-between;
    display: inline-flex;

    // .fa-solid {
    //   height: 15px;
    //   width: auto;
    //   color: white;
    // }
  }

}

.button_period > a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 8px;

}

#chart {
  max-width: 650px;
  margin: 35px auto;
}


.consumption-imaged {
  gap: 16px;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  h4 {
    color: #31572C;
    font-size: 24px;
  }
  #lamp-lit, #train {
    align-items: flex-start;
  }

  #tv-watch {
    align-items: flex-end;
  }
}

.fa-regular, .fa-solid {
  color: #31572C;
}
