<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/AllanLeWagon/RENT_A_DREAM" target="_blanck"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/jcvd/" target="_blanck"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Franciscabrel.Officiel001/" target="_blanck"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/elonmusk" target="_blanck"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/kim-jong-un-a252a8166/" target="_blanck"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <p>
      This footer is made with <i class="fas fa-heart"></i>
      <br>
      Allan, Charles, Ines, Johan
    </p>
  </div>
</div>
