.navbar-code{
  justify-content: space-between;
  background: #52796F;
  padding: 0px 16px;
}

.navbar-code .navbar-collapse {
  flex-grow: 0;
}

.navbar-code .navbar-brand img {
  width: 56px;
}

.logo-text-navbar {
  display: flex;
}

.logo {
  display: inline-flex;
  justify-content:flex-start;
}

.code {
  display: inline-flex;

  h2 {
    color: white;
    font-size: 30px;
    margin: 0;
  }

}
